Repository unl/wdntemplates, pull requests merged in 2018-12, with the labels that each got.

#1214 5.0 Layout Fixes
  wdn/templates_5.0/includes/global/footer-global-2.html
  wdn/templates_5.0/includes/local/footer-local.html
  wdn/templates_5.0/scss/components/_components.footer.scss
  wdn/templates_5.0/scss/components/_components.global.scss
  wdn/templates_5.0/scss/components/_components.headings.scss
  wdn/templates_5.0/scss/deprecated/deprecated.bands.scss
  wdn/templates_5.0/scss/deprecated/deprecated.grid.scss
  wdn/templates_5.0/scss/deprecated/deprecated.helpers.scss
  wdn/templates_5.0/scss/deprecated/deprecated.hero.scss
  wdn/templates_5.0/scss/deprecated/deprecated.promo-image.scss
  wdn/templates_5.0/scss/deprecated/deprecated.tables.scss
Labels: 5.0, CSS, HTML

#1223 Use flexbox for local nav grid fallback in IE
  wdn/templates_5.0/scss/components/_components.nav-local.scss
Labels: 5.0, CSS, IE

#1221 Update events plugins for 5.0, add grit background, add/edit grid
  Gruntfile.js
  wdn/templates_5.0/js-src/events-band.js
  wdn/templates_5.0/js-src/events.js
  wdn/templates_5.0/js-src/js-css/events-band.scss
  wdn/templates_5.0/js-src/js-css/events.scss
  wdn/templates_5.0/js-src/js-css/monthwidget.scss
  wdn/templates_5.0/js-src/monthwidget.js
  wdn/templates_5.0/scss/components/_components.events.scss
  wdn/templates_5.0/scss/core.scss
  wdn/templates_5.0/scss/objects/_objects.grid.scss
Labels: 5.0, CSS, HTML, JavaScript

#1226 Update 5.0 footer, hidable regions
  debug.shtml
  wdn/templates_5.0/includes/global/footer-global-1.html
  wdn/templates_5.0/includes/global/footer-global-2.html
  wdn/templates_5.0/scss/components/_components.footer.scss
  wdn/templates_5.0/scss/components/_components.global.scss
  wdn/templates_5.0/scss/components/_components.regions.scss
  wdn/templates_5.0/scss/deprecated/deprecated.regions.scss
Labels: 5.0, CSS, HTML

#1216 Add initial 5.0 print styles
  Gruntfile.js
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/includes/global/idm.html
  wdn/templates_5.0/includes/global/logo-lockup-1.html
  wdn/templates_5.0/includes/global/nav-menu-1.html
  wdn/templates_5.0/includes/global/nav-toggle-group.html
  wdn/templates_5.0/includes/global/search.html
  wdn/templates_5.0/scss/components/_components.header.scss
  wdn/templates_5.0/scss/print.scss
  wdn/templates_5.0/scss/print/_print.base.scss
  wdn/templates_5.0/scss/print/_print.header.scss
  wdn/templates_5.0/scss/print/_print.links.scss
Labels: 5.0, CSS, HTML

#1225 Update JavaScript plugins
  Gruntfile.js
  wdn/templates_5.0/images/deprecated/infographics/countries.svg
  wdn/templates_5.0/images/deprecated/infographics/dollar.svg
  wdn/templates_5.0/images/deprecated/infographics/globe.svg
  wdn/templates_5.0/images/deprecated/infographics/international.svg
  wdn/templates_5.0/images/deprecated/infographics/internships.svg
  wdn/templates_5.0/images/deprecated/infographics/people.svg
  wdn/templates_5.0/images/deprecated/infographics/rate.svg
  wdn/templates_5.0/images/deprecated/infographics/ratio.svg
  wdn/templates_5.0/images/deprecated/infographics/star.svg
  wdn/templates_5.0/images/deprecated/infographics/world.svg
  wdn/templates_5.0/js-src/images.js
  wdn/templates_5.0/js-src/js-css/band_imagery.scss
  wdn/templates_5.0/js-src/js-css/formvalidator.scss
  wdn/templates_5.0/js-src/js-css/unlalert.scss
  wdn/templates_5.0/js-src/main-execute-mods.js
  wdn/templates_5.0/js-src/main-wdn-plugins.babel.js
  wdn/templates_5.0/js-src/modal.js
  wdn/templates_5.0/js-src/plugins/mediaelement/css/wdn-overrides.css
  wdn/templates_5.0/js-src/plugins/mediaelement/css/wdn-overrides.min.css
  wdn/templates_5.0/js-src/plugins/qtip/jquery.qtip.css
  wdn/templates_5.0/js-src/plugins/qtip/jquery.qtip.js
  wdn/templates_5.0/js-src/plugins/qtip/wdn.qtip.css
  wdn/templates_5.0/js-src/plugins/qtip/wdn.qtip.less
  wdn/templates_5.0/js-src/plugins/rsswidget/jquery.vticker.js
  wdn/templates_5.0/js-src/plugins/rsswidget/jquery.zrssfeed.js
  wdn/templates_5.0/js-src/plugins/ui/css/jquery-ui-wdn.css
  wdn/templates_5.0/js-src/plugins/ui/css/jquery-ui-wdn.less
  wdn/templates_5.0/js-src/plugins/ui/css/jquery-ui-wdn.scss
  wdn/templates_5.0/js-src/qa.js
  wdn/templates_5.0/js-src/rss_widget.js
  wdn/templates_5.0/js-src/tooltip.js
  wdn/templates_5.0/js-src/unlalert.babel.js
  wdn/templates_5.0/scss/deprecated/deprecated.infographics.scss
Labels: 5.0, CSS, HTML, JavaScript

#1231 Template updates
  Templates/app.dwt
  Templates/app_debug.dwt
  Templates/app_local.dwt
  Templates/debug.dwt
  Templates/fixed.dwt
  Templates/jsp.app.dwt.jsp
  Templates/jsp.app_debug.dwt.jsp
  Templates/jsp.app_local.dwt.jsp
  Templates/jsp.debug.dwt.jsp
  Templates/jsp.fixed.dwt.jsp
  Templates/jsp.local.dwt.jsp
  Templates/jsp.unlaffiliate.dwt.jsp
  Templates/jsp.unlaffiliate_debug.dwt.jsp
  Templates/jsp.unlaffiliate_local.dwt.jsp
  Templates/local.dwt
  Templates/php.app.dwt.php
  Templates/php.app_debug.dwt.php
  Templates/php.app_local.dwt.php
  Templates/php.debug.dwt.php
  Templates/php.fixed.dwt.php
  Templates/php.local.dwt.php
  Templates/php.unlaffiliate.dwt.php
  Templates/php.unlaffiliate_debug.dwt.php
  Templates/php.unlaffiliate_local.dwt.php
  Templates/unlaffiliate.dwt
  Templates/unlaffiliate_debug.dwt
  Templates/unlaffiliate_local.dwt
Labels: 5.0, HTML

#1241 Update jQuery UI styles for 5.0 theme
  wdn/templates_5.0/js-src/plugins/ui/css/images/ui-bg_flat_100_000000_40x100.png
  wdn/templates_5.0/js-src/plugins/ui/css/images/ui-bg_flat_100_137CBD_40x100.png
  wdn/templates_5.0/js-src/plugins/ui/css/images/ui-bg_flat_100_474746_40x100.png
  wdn/templates_5.0/js-src/plugins/ui/css/images/ui-bg_flat_100_d00000_40x100.png
  wdn/templates_5.0/js-src/plugins/ui/css/images/ui-bg_flat_100_d4440b_40x100.png
  wdn/templates_5.0/js-src/plugins/ui/css/images/ui-bg_flat_100_ffffff_40x100.png
  wdn/templates_5.0/js-src/plugins/ui/css/jquery-ui-wdn.scss
  wdn/templates_5.0/js-src/plugins/ui/css/jquery-ui.css
Labels: 5.0, CSS, JavaScript

#1240 Update 5.0 critical CSS
  app.shtml
  debug-clean.shtml
  debug.shtml
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/scss/components/_components.header.scss
  wdn/templates_5.0/scss/components/_components.nav-menu.scss
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, CSS, HTML

#1247 Update styles: IdM & search buttons, page title padding, local nav and critical CSS
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/includes/global/nav-toggle-group.html
  wdn/templates_5.0/includes/global/search.html
  wdn/templates_5.0/js-src/idm.babel.js
  wdn/templates_5.0/scss/components/_components.nav-local.scss
  wdn/templates_5.0/scss/components/_components.nav-toggle.scss
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, CSS, HTML, JavaScript
