Repository unl/wdntemplates, pull requests merged in 2019-03, with the labels that each got.

#1288 Update IDs in analytics for page tracking
  wdn/templates_5.0/js-src/analytics.babel.js
Labels: 5.0, Bug, JavaScript

#1287 Hide menu button if nav contains no children
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/includes/global/nav-toggle-btn.html
  wdn/templates_5.0/js-src/mustard-initializer.babel.js
  wdn/templates_5.0/js-src/navigation.babel.js
Labels: 5.0, JavaScript

#1290 Update form and input group styles
  debug.shtml
  package-lock.json
  wdn/templates_5.0/scss/components/_components.forms-checkboxes-radios.scss
  wdn/templates_5.0/scss/components/_components.forms-checkboxes.scss
  wdn/templates_5.0/scss/components/_components.forms-radios.scss
  wdn/templates_5.0/scss/components/_components.forms-selects.scss
  wdn/templates_5.0/scss/components/_components.forms.scss
  wdn/templates_5.0/scss/components/_components.input-groups.scss
Labels: 5.0, CSS, HTML

#1292 Update scripts for JS, WebP tests; CSS for WebP background-image(s)
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/js-src/utility-scripts/testForWebP.js
  wdn/templates_5.0/scss/components/_components.search.scss
Labels: 5.0, CSS, HTML, JavaScript
