Repository unl/wdntemplates, pull requests merged in 2019-01, with the labels that each got.

#1251 Update copyright year to 2019
  wdn/templates_5.0/includes/global/footer-global-2.html
Labels: 5.0

#1250 Update (Filament Group) select styling
  debug.shtml
  wdn/templates_5.0/scss/components/_components.forms.scss
Labels: 5.0, CSS, HTML

#1253 Remove duplicate !important in critical CSS
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, CSS, HTML

#1252 Update mobile nav toggle buttons
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/includes/global/nav-toggle-group.html
  wdn/templates_5.0/scss/components/_components.nav-toggle.scss
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, CSS, HTML

#1255 Update critical CSS in include files
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, CSS, HTML

#1259 Update nav-toggle-group CSS environment variables
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/scss/components/_components.nav-toggle.scss
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, CSS, HTML

#1260 Update search button and footer styles
  wdn/templates_5.0/includes/global/search.html
  wdn/templates_5.0/scss/components/_components.footer.scss
  wdn/templates_5.0/scss/components/_components.search.scss
Labels: 5.0, CSS, HTML

#1262 Update notch stripe hero styles
  wdn/templates_5.0/scss/components/_components.heroes-default.scss
  wdn/templates_5.0/scss/components/_components.heroes-notch-stripe.scss
  wdn/templates_5.0/scss/components/_components.heroes.scss
Labels: 5.0, CSS

#1266 Add trailing slash when constructing siteHomepage
  wdn/templates_5.0/js-src/search.babel.js
Labels: 5.0, Bug, JavaScript

#1272 Adjust nav, search modal states
  wdn/templates_5.0/includes/global/head-2-local.html
  wdn/templates_5.0/includes/global/head-2.html
  wdn/templates_5.0/includes/global/nav-toggle-group.html
  wdn/templates_5.0/includes/global/search.html
  wdn/templates_5.0/js-src/idm.babel.js
  wdn/templates_5.0/js-src/navigation.babel.js
  wdn/templates_5.0/js-src/search.babel.js
  wdn/templates_5.0/scss/components/_components.dev.scss
  wdn/templates_5.0/scss/components/_components.nav-menu.scss
  wdn/templates_5.0/scss/critical.scss
Labels: 5.0, Accessibility, Bug, CSS, HTML, JavaScript, Mobile

#1274 Convert institution title en dashes to HTML character entities in header and footer
  wdn/templates_5.0/includes/global/footer-global-2.html
  wdn/templates_5.0/includes/global/header-global-1.html
Labels: 5.0, HTML

#1275 Set deprecated WDN Tabs to flex-wrap
  wdn/templates_5.0/scss/deprecated/deprecated.tabs.scss
Labels: 5.0, CSS
