Repository unl/wdntemplates, pull requests merged in 2020-10, with the labels that each got.

#1470 Make CTA and IdM styles consistent
  package-lock.json
  wdn/templates_5.2/js-src/cta-nav.babel.js
  wdn/templates_5.2/js-src/idm.babel.js
  wdn/templates_5.2/scss/components/_components.idm.scss
Labels: 5.2, CSS, JavaScript

#1471 Update DCF/5.2; add dark mode background-color utilities
  CHANGELOG.md
  VERSION_DEP
  package-lock.json
  package.json
  wdn/templates_5.2/js-src/cta-nav.babel.js
  wdn/templates_5.2/js-src/idm.babel.js
  wdn/templates_5.2/js-src/js-css/unlalert.scss
  wdn/templates_5.2/js-src/plugins/body-scroll-lock.js
  wdn/templates_5.2/js-src/unlalert.babel.js
  wdn/templates_5.2/scss/components/_components.idm.scss
  wdn/templates_5.2/scss/utilities/_utilities.background-colors.scss
Labels: 5.2, CSS, Dark Mode

#1472 Add daily cache bust for client chat
  wdn/templates_5.2/js-src/main.babel.js
Labels: 5.2

#1475 Remove :focus styles for mouse users. Preserve browser defaults for keyboard users.
  package-lock.json
  wdn/templates_5.2/scss/elements/_elements.html.scss
  wdn/templates_5.2/scss/generic/_generic.base.scss
  wdn/templates_5.2/scss/generic/_generic.focus.scss
  wdn/templates_5.2/scss/main.tmp.scss
Labels: 5.2, Accessibility, CSS
