Repository unl/wdntemplates, pull requests merged in 2020-03, with the labels that each got.

#1391 Update 5.1 CSS (grid fallback, style fixes)
  Gruntfile.js
  debug.shtml
  package-lock.json
  wdn/templates_5.1/includes/global/js-body-local.html
  wdn/templates_5.1/includes/global/js-body.html
  wdn/templates_5.1/scss/components/_components.badges.scss
  wdn/templates_5.1/scss/components/_components.buttons.scss
  wdn/templates_5.1/scss/components/_components.modals.scss
  wdn/templates_5.1/scss/components/_components.nav-local.scss
  wdn/templates_5.1/scss/legacy.scss
  wdn/templates_5.1/scss/legacy.tmp.scss
  wdn/templates_5.1/scss/legacy/_legacy.nav-local.scss
  wdn/templates_5.1/scss/main.tmp.scss
  wdn/templates_5.1/scss/variables/_variables.input-groups.scss
Labels: 5.1, CSS

#1394 Add `dcf-no-webp` class to `<html>`
  Templates/app.dwt
  Templates/app_debug.dwt
  Templates/app_local.dwt
  Templates/debug.dwt
  Templates/fixed.dwt
  Templates/jsp.app.dwt.jsp
  Templates/jsp.app_debug.dwt.jsp
  Templates/jsp.app_local.dwt.jsp
  Templates/jsp.debug.dwt.jsp
  Templates/jsp.fixed.dwt.jsp
  Templates/jsp.local.dwt.jsp
  Templates/jsp.unlaffiliate.dwt.jsp
  Templates/jsp.unlaffiliate_debug.dwt.jsp
  Templates/jsp.unlaffiliate_local.dwt.jsp
  Templates/local.dwt
  Templates/php.app.dwt.php
  Templates/php.app_debug.dwt.php
  Templates/php.app_local.dwt.php
  Templates/php.debug.dwt.php
  Templates/php.fixed.dwt.php
  Templates/php.local.dwt.php
  Templates/php.unlaffiliate.dwt.php
  Templates/php.unlaffiliate_debug.dwt.php
  Templates/php.unlaffiliate_local.dwt.php
  Templates/unlaffiliate.dwt
  Templates/unlaffiliate_debug.dwt
  Templates/unlaffiliate_local.dwt
  app.shtml
  debug-clean.shtml
  debug.shtml
  package-lock.json
  plugin-build.shtml
  ux-test.shtml
Labels: 5.1, HTML

#1397 Update DCF, Node modules, Sass partial for smooth scrolling
  package-lock.json
  package.json
  wdn/templates_5.1/scss/main.tmp.scss
Labels: 5.1, CSS

#1398 Update Sass color variables in usage
  package-lock.json
  wdn/templates_5.1/js-src/js-css/monthwidget.scss
  wdn/templates_5.1/js-src/js-css/tabs.scss
  wdn/templates_5.1/js-src/plugins/ui/css/jquery-ui-wdn.scss
  wdn/templates_5.1/scss/components/_components.buttons.scss
  wdn/templates_5.1/scss/components/_components.footer.scss
  wdn/templates_5.1/scss/components/_components.forms-checkboxes-radios.scss
  wdn/templates_5.1/scss/components/_components.forms-selects.scss
  wdn/templates_5.1/scss/components/_components.forms.scss
  wdn/templates_5.1/scss/components/_components.header.scss
  wdn/templates_5.1/scss/components/_components.search.scss
  wdn/templates_5.1/scss/deprecated/deprecated.figures.scss
  wdn/templates_5.1/scss/deprecated/deprecated.forms.scss
  wdn/templates_5.1/scss/deprecated/deprecated.hero.scss
  wdn/templates_5.1/scss/deprecated/deprecated.images.scss
  wdn/templates_5.1/scss/deprecated/deprecated.pagination.scss
  wdn/templates_5.1/scss/deprecated/deprecated.promo-image.scss
  wdn/templates_5.1/scss/deprecated/deprecated.tables.scss
  wdn/templates_5.1/scss/deprecated/deprecated.text.scss
  wdn/templates_5.1/scss/mixins/_mixins.backgrounds.scss
  wdn/templates_5.1/scss/mixins/_mixins.typography.scss
  wdn/templates_5.1/scss/variables/_variables.anchors.scss
  wdn/templates_5.1/scss/variables/_variables.badges.scss
  wdn/templates_5.1/scss/variables/_variables.body.scss
  wdn/templates_5.1/scss/variables/_variables.borders.scss
  wdn/templates_5.1/scss/variables/_variables.breadcrumbs.scss
  wdn/templates_5.1/scss/variables/_variables.buttons.scss
  wdn/templates_5.1/scss/variables/_variables.cards.scss
  wdn/templates_5.1/scss/variables/_variables.code.scss
  wdn/templates_5.1/scss/variables/_variables.figures.scss
  wdn/templates_5.1/scss/variables/_variables.footer.scss
  wdn/templates_5.1/scss/variables/_variables.forms-checkboxes-radios.scss
  wdn/templates_5.1/scss/variables/_variables.forms-selects.scss
  wdn/templates_5.1/scss/variables/_variables.forms.scss
  wdn/templates_5.1/scss/variables/_variables.headings.scss
  wdn/templates_5.1/scss/variables/_variables.input-groups.scss
  wdn/templates_5.1/scss/variables/_variables.marks.scss
  wdn/templates_5.1/scss/variables/_variables.modals.scss
  wdn/templates_5.1/scss/variables/_variables.tables.scss
  wdn/templates_5.1/scss/variables/_variables.tabs.scss
Labels: 5.1, CSS, JavaScript

#1400 Update DCF, Sass temp files (moves <main> IE fallback to legacy)
  package-lock.json
  wdn/templates_5.1/scss/legacy.tmp.scss
  wdn/templates_5.1/scss/main.tmp.scss
Labels: 5.1, CSS

#1401 Implement samesite in setCookie for 5.1
  wdn/templates_5.1/js-src/wdn.babel.js
Labels: 5.1
