Repository unl/wdntemplates, pull requests merged in 2023-05, with the labels that each got.

#1659 Add progress spinner component
  package-lock.json
  wdn/templates_5.3/scss/critical.tmp.scss
  wdn/templates_5.3/scss/deprecated.tmp.scss
  wdn/templates_5.3/scss/legacy.tmp.scss
  wdn/templates_5.3/scss/main.tmp.scss
  wdn/templates_5.3/scss/pre.tmp.scss
  wdn/templates_5.3/scss/print.tmp.scss
  wdn/templates_5.3/scss/variables/_variables.progress.scss
Labels: Feature Request, CSS, HTML, 5.3

#1658 Collapsible Fieldsets
  Gruntfile.js
  debug.shtml
  package-lock.json
  wdn/templates_5.3/js-src/collapsible-fieldsets.babel.js
  wdn/templates_5.3/js-src/js-css/collapsible-fieldsets.scss
  wdn/templates_5.3/scss/critical.tmp.scss
  wdn/templates_5.3/scss/deprecated.tmp.scss
  wdn/templates_5.3/scss/legacy.tmp.scss
  wdn/templates_5.3/scss/main.tmp.scss
  wdn/templates_5.3/scss/pre.tmp.scss
  wdn/templates_5.3/scss/print.tmp.scss
  wdn/templates_5.3/scss/variables/_variables.collapsible-fieldset.scss
Labels: Feature Request

#1656 Add backdrop-filter blur to overlay classes
  wdn/templates_5.3/scss/critical.tmp.scss
  wdn/templates_5.3/scss/deprecated.tmp.scss
  wdn/templates_5.3/scss/legacy.tmp.scss
  wdn/templates_5.3/scss/main.tmp.scss
  wdn/templates_5.3/scss/mixins/_mixins.backdrop-filters.scss
  wdn/templates_5.3/scss/pre.tmp.scss
  wdn/templates_5.3/scss/print.tmp.scss
  wdn/templates_5.3/scss/utilities/_utilities.backdrop-filters.scss
  wdn/templates_5.3/scss/variables/_variables.backgrounds.scss
Labels: CSS, Dark Mode, 5.3

#1653 Add SVG icon to indicate external links
  wdn/templates_5.3/images/external-link.svg
  wdn/templates_5.3/scss/elements/_elements.anchors.scss
  wdn/templates_5.3/scss/main.tmp.scss
Labels: CSS, 5.3

#1660 Adjust light background-colors for dark mode
  wdn/templates_5.3/scss/variables/_variables.backgrounds.scss
  wdn/templates_5.3/scss/variables/_variables.cards.scss
Labels: CSS, Dark Mode, 5.3

#1661 Do not apply external link icons to links that contain images or SVGs
  wdn/templates_5.3/scss/elements/_elements.anchors.scss
Labels: CSS, 5.3

#1664 Use DCF popups for Visit/Apply/Give CTAs
  wdn/templates_5.3/includes/global/apply-header-1.html
  wdn/templates_5.3/includes/global/give-header-1.html
  wdn/templates_5.3/includes/global/visit-header-1.html
  wdn/templates_5.3/js-src/cta-nav.babel.js
  wdn/templates_5.3/scss/variables/_variables.popups.scss
Labels: JavaScript, CSS, HTML, 5.3

#1665 bumped dcf version
  package-lock.json
Labels: dependencies

#1666 bumped dcf version
  package-lock.json
Labels: dependencies

#1668 Moved popup class to its own div
  package-lock.json
  wdn/templates_5.3/includes/global/apply-header-1.html
  wdn/templates_5.3/includes/global/apply-header-2.html
  wdn/templates_5.3/includes/global/give-header-1.html
  wdn/templates_5.3/includes/global/give-header-2.html
  wdn/templates_5.3/includes/global/visit-header-1.html
  wdn/templates_5.3/includes/global/visit-header-2.html
Labels: Bug

#1670 Fix scarlet link state colors in dark mode
  wdn/templates_5.3/scss/mixins/_mixins.colors.scss
  wdn/templates_5.3/scss/utilities/_utilities.colors.scss
Labels: Bug, CSS, Accessibility, Dark Mode, 5.3

#1671 Exclude external link icons from relative links
  wdn/templates_5.3/scss/elements/_elements.anchors.scss
Labels: Bug, CSS, 5.3

#1672 Cta nav fix
  debug.shtml
  wdn/templates_5.3/js-src/main-wdn-plugins.babel.js
Labels: Bug
