Repository unl/wdntemplates, pull requests merged in 2024-07, with the labels that each got.

#1773 Deleted un-used function and removed references to polyfill.io
  wdn/templates_5.3/js-src/utility-scripts/polyfillsAreLoaded.babel.js
Labels: dependencies

#1774 Adjust local nav grid columns to allow for better text wrapping
  wdn/templates_5.3/scss/components/_components.nav-local.scss
Labels: Feature Request, CSS, 5.3

#1780 Update Sass to fix deprecated rules
  Gruntfile.js
  package-lock.json
  package.json
  wdn/templates_5.3/scss/critical.tmp.scss
  wdn/templates_5.3/scss/deprecated.tmp.scss
  wdn/templates_5.3/scss/deprecated/deprecated.hero.scss
  wdn/templates_5.3/scss/deprecated/deprecated.infographics.scss
  wdn/templates_5.3/scss/deprecated/deprecated.promo-image.scss
  wdn/templates_5.3/scss/deprecated/deprecated.tabs.scss
  wdn/templates_5.3/scss/legacy.tmp.scss
  wdn/templates_5.3/scss/main.tmp.scss
  wdn/templates_5.3/scss/pre.tmp.scss
  wdn/templates_5.3/scss/print.tmp.scss
  wdn/templates_5.3/scss/variables/_variables.modular-scale.scss
Labels: CSS, 5.3, dependency
