Repository unl/wdntemplates, pull requests merged in 2024-02, with the labels that each got.

#1746 Changed file target to match package lock file
  .github/workflows/dcf_bump.yaml
Labels: Bug

#1748 Add scarlet-at-dark mixin/utility class
  wdn/templates_5.3/scss/mixins/_mixins.colors.scss
  wdn/templates_5.3/scss/utilities/_utilities.colors.scss
Labels: Feature Request, CSS, Dark Mode, 5.3

#1749 Add mixin/utility for `background-blend-mode: multiply`
  wdn/templates_5.3/scss/mixins/_mixins.background-blend-modes.scss
  wdn/templates_5.3/scss/utilities/_utilities.background-blend-modes.scss
Labels: CSS, 5.3

#1751 Add mixin/utilty for `mix-blend-mode: soft-light`
  wdn/templates_5.3/scss/mixins/_mixins.blend-modes.scss
  wdn/templates_5.3/scss/utilities/_utilities.blend-modes.scss
Labels: CSS, 5.3

#1754 Add single diagonal gradient mixin/utility
  wdn/templates_5.3/scss/mixins/_mixins.background-images.scss
  wdn/templates_5.3/scss/utilities/_utilities.background-images.scss
Labels: CSS, 5.3
