Repository unl/wdntemplates, pull requests merged in 2024-08, with the labels that each got.

#1778 Added code to remove alert banner if alert data doesn't exist
  wdn/templates_5.3/js-src/unlalert.babel.js
Labels: Bug

#1782 Hard code modular scale-based CSS variables in `:root`
  wdn/templates_5.3/scss/generic/_generic.root.scss
Labels: CSS, 5.3

#1783 Revert local nav column widths to `1fr`
  wdn/templates_5.3/scss/components/_components.nav-local.scss
Labels: Bug, CSS, 5.3
