Repository unl/wdntemplates, pull requests merged in 2024-05, with the labels that each got.

#1769 Add optional heading font-size mixin/utility
  wdn/templates_5.3/scss/mixins/_mixins.typography.scss
  wdn/templates_5.3/scss/utilities/_utilities.typography.scss
Labels: CSS, 5.3

#1770 Remove `.unl` class before paragraph and list selectors in critical CSS
  wdn/templates_5.3/scss/critical.scss
  wdn/templates_5.3/scss/critical.tmp.scss
Labels: Bug, CSS, 5.3

#1767 Add search-and-select/combobox component
  Gruntfile.js
  wdn/templates_5.3/js-src/search-selects.babel.js
  wdn/templates_5.3/scss/components/_components.search-selects.scss
  wdn/templates_5.3/scss/critical.tmp.scss
  wdn/templates_5.3/scss/deprecated.tmp.scss
  wdn/templates_5.3/scss/legacy.tmp.scss
  wdn/templates_5.3/scss/main.tmp.scss
  wdn/templates_5.3/scss/pre.tmp.scss
  wdn/templates_5.3/scss/print.tmp.scss
  wdn/templates_5.3/scss/variables/_variables.search-and-selects.scss
Labels: JavaScript, CSS, 5.3

#1771 Add modular scale as CSS custom properties (CSS variables)
  wdn/templates_5.3/scss/generic/_generic.root.scss
  wdn/templates_5.3/scss/main.tmp.scss
Labels: Feature Request, CSS, 5.3

#1768 removed references to polyfill.io and removed mustard-initializer
  Gruntfile.js
  README.md
  wdn/templates_5.3/js-src/flags.babel.js
  wdn/templates_5.3/js-src/main-wdn-plugins.babel.js
  wdn/templates_5.3/js-src/mustard-initializer.babel.js
  wdn/templates_5.3/js-src/mustard/inert-polyfill.js
  wdn/templates_5.3/js-src/mustard/ofi.js
Labels: Bug, dependencies
