Repository unl/wdntemplates, pull requests merged in 2025-08, with the labels that each got.

#1824 Add Bluesky to “big” footer, adjust flex and gaps
  wdn/templates_6.0/includes/global/footer-global-3-big.html
Labels: HTML, 6.0

#1827 Update Handshake icon in IdM
  wdn/templates_6.0/includes/global/idm.html
Labels: HTML, 6.0

#1828 Update footer Herbie Husker markup and fallback styles
  wdn/templates_6.0/includes/global/footer-global-3-big.html
  wdn/templates_6.0/scss/components/_footer.scss
Labels: CSS, HTML, 6.0

#1834 Set button `font-weight` to semibold (`600`)
  wdn/templates_6.0/scss/variables/_buttons.scss
Labels: CSS, 6.0

#1835 Add `clip-path` mixins/utilities, move `.unl-frame-quad` from "global"
  wdn/templates_6.0/scss/components/_global.scss
  wdn/templates_6.0/scss/mixins/_clip-paths.scss
  wdn/templates_6.0/scss/mixins/_index.scss
  wdn/templates_6.0/scss/utilities/_clip-paths.scss
  wdn/templates_6.0/scss/utilities/_index.scss
Labels: CSS, 6.0

#1817 Remove document class and template param from template files
  Templates/affiliate_cloud.dwt
  Templates/affiliate_debug.dwt
  Templates/affiliate_local.dwt
  Templates/app_cloud.dwt
  Templates/app_debug.dwt
  Templates/app_local.dwt
  Templates/cloud.dwt
  Templates/debug.dwt
  Templates/jsp.affiliate_cloud.dwt.jsp
  Templates/jsp.affiliate_debug.dwt.jsp
  Templates/jsp.affiliate_local.dwt.jsp
  Templates/jsp.app_cloud.dwt.jsp
  Templates/jsp.app_debug.dwt.jsp
  Templates/jsp.app_local.dwt.jsp
  Templates/jsp.cloud.dwt.jsp
  Templates/jsp.debug.dwt.jsp
  Templates/jsp.local.dwt.jsp
  Templates/local.dwt
  Templates/php.affiliate_cloud.dwt.php
  Templates/php.affiliate_debug.dwt.php
  Templates/php.affiliate_local.dwt.php
  Templates/php.app_cloud.dwt.php
  Templates/php.app_debug.dwt.php
  Templates/php.app_local.dwt.php
  Templates/php.app_local.dwt.twig
  Templates/php.cloud.dwt.php
  Templates/php.debug.dwt.php
  Templates/php.local.dwt.php
  Templates/php.local.dwt.twig
Labels: 6.0

#1841 Fix form help text color
  wdn/templates_6.0/scss/variables/_forms.scss
Labels: Bug, 6.0

#1836 Speculation Rules
  wdn/templates_6.0/includes/global/head-2-local.html
  wdn/templates_6.0/includes/global/head-2.html
Labels: 6.0

#1842 Dev Search URL
  .env
  wdn/templates_6.0/js-src/components/unl-search.js
Labels: 6.0

#1818 Fix github action
  .github/workflows/dcf_bump.yaml
Labels: Bug, 6.0
